* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #f4f4f4;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  background-color: #f6f8f9;
  width: 15rem;
  height: 30rem;
  border: 0.2rem solid black;
  padding: 0.8rem 0.8rem 2rem 0.8rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  border-radius: 1.5rem;
}

.history-button {
  display: block;
  float: right;
}

.display {
  font-size: 2.5rem;
  height: 11rem;
  margin-bottom: .5rem;
}

.button-box {
  height: 16rem;
  background-color: #f4f4f4;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
}

.button {
  align-items: center;
  background-color: aqua;
  border-radius: 10rem;
}

.button:hover {
  outline: .1rem solid black;
}

.button-values {
  position: relative;
  text-align: center;
  font-size: 1.2rem;
  top: .8rem;
}

.equal {
  grid-column: 3/5;
}

.operators {
  background-color: rgb(84, 164, 234);
}

.others {
  background-color: rgb(81, 95, 108);
}
